@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Inter", sans-serif;
  --color-primary: #8311f5;
  --color-background: #f7f7f9;
}

@layer base {
  body {
    @apply font-main bg-background text-slate-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white shadow-lg border-none cursor-pointer 
           font-semibold rounded-lg duration-300 hover:shadow-md 
           hover:bg-[#6e0cd0] active:scale-95 transition-all flex items-center justify-center;
  }
}

@layer utilities {
  .center-content {
    /* กำหนดความกว้างสูงสุดและจัดกึ่งกลาง */
    /* px-6 สำหรับมือถือ และ px-20 ตามที่คุณต้องการสำหรับจอใหญ่ */
    @apply container mx-auto px-6 md:px-20;
  }
}

